
.vs/TP1-SIM/v16/.suo
TP1-SIM/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TP1-SIM/obj/Debug/TP1-SIM.csprojAssemblyReference.cache
TP1-SIM/obj/Debug/TP1-SIM.csprojAssemblyReference.cache
TP1-SIM/bin/Debug/TP1-SIM.exe.manifest
.vs/TP1-SIM/v16/.suo
TP1-SIM/bin/Debug/TP1-SIM.exe.manifest
TP1-SIM/bin/Debug/TP1-SIM.pdb
TP1-SIM/obj/Debug/TP1-SIM.application
TP1-SIM/obj/Debug/TP1-SIM.csproj.CoreCompileInputs.cache
TP1-SIM/obj/Debug/TP1-SIM.csproj.FileListAbsolute.txt
TP1-SIM/obj/Debug/TP1-SIM.csproj.GenerateResource.cache
TP1-SIM/obj/Debug/TP1-SIM.csprojAssemblyReference.cache
TP1-SIM/obj/Debug/TP1-SIM.exe
TP1-SIM/obj/Debug/TP1-SIM.exe.manifest
TP1-SIM/obj/Debug/TP1-SIM.pdb
.vs/TP1-SIM/v16/.suo
TP1-SIM/bin/Debug/app.publish/TP1-SIM.exe
TP1-SIM/bin/Debug/TP1-SIM.application
TP1-SIM/bin/Debug/TP1-SIM.exe
TP1-SIM/bin/Debug/TP1-SIM.exe.manifest
TP1-SIM/bin/Debug/TP1-SIM.pdb
TP1-SIM/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TP1-SIM/obj/Debug/TP1-SIM.application
TP1-SIM/obj/Debug/TP1-SIM.csproj.CoreCompileInputs.cache
TP1-SIM/obj/Debug/TP1-SIM.csproj.FileListAbsolute.txt
TP1-SIM/obj/Debug/TP1-SIM.csproj.GenerateResource.cache
TP1-SIM/obj/Debug/TP1-SIM.csprojAssemblyReference.cache
TP1-SIM/obj/Debug/TP1-SIM.exe
TP1-SIM/obj/Debug/TP1-SIM.exe.manifest
TP1-SIM/obj/Debug/TP1-SIM.pdb
